In [19]:
import pandas as pd

import matplotlib.pyplot as plt
import matplotlib.patheffects as pe
from adjustText import adjust_text
from highlight_text import fig_text

import requests
from bs4 import BeautifulSoup
import json
import pandas as pd

In [42]:
df = pd.read_csv("xgdata.csv")
df

,id,isResult,side,h/id,h/title,h/short_title,a/id,a/title,a/short_title,goals/h,goals/a,xG/h,xG/a,datetime,forecast/w,forecast/d,forecast/l,result
0,467,True,h,88,Manchester City,MCI,77,Sunderland,SUN,2,1,1.954790,1.098770,2016-08-13 20:30:00,0.572653,0.217868,0.209479,w
1,472,True,a,85,Stoke,STO,88,Manchester City,MCI,1,4,1.310660,2.171980,2016-08-20 15:30:00,0.225461,0.204071,0.570468,w
2,490,True,h,88,Manchester City,MCI,81,West Ham,WHU,3,1,3.216240,1.083850,2016-08-28 19:00:00,0.786869,0.122056,0.091073,w
3,491,True,a,89,Manchester United,MUN,88,Manchester City,MCI,1,2,1.010130,1.886880,2016-09-10 15:30:00,0.198802,0.222479,0.578719,w
4,504,True,h,88,Manchester City,MCI,73,Bournemouth,BOU,4,0,3.387330,0.389672,2016-09-17 18:00:00,0.916094,0.064667,0.019237,w
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
196,16441,True,a,87,Liverpool,LIV,88,Manchester City,MCI,2,2,0.949368,1.043190,2021-10-03 15:30:00,0.321038,0.308729,0.370233,d
197,16451,True,h,88,Manchester City,MCI,92,Burnley,BUR,2,0,2.157120,1.077190,2021-10-16 14:00:00,0.619940,0.199992,0.180068,w
198,16458,True,a,220,Brighton,BRI,88,Manchester City,MCI,1,4,1.169500,3.573760,2021-10-23 16:30:00,0.080650,0.106301,0.813044,w
199,16470,True,h,88,Manchester City,MCI,78,Crystal Palace,CRY,0,2,0.657390,1.050290,2021-10-30 14:00:00,0.226359,0.329792,0.443850,l
200,16483,True,a,89,Manchester United,MUN,88,Manchester City,MCI,0,2,0.759561,2.042020,2021-11-06 12:30:00,0.128708,0.198342,0.672951,w

In [43]:
data = df.todict()
data

AttributeError: 'DataFrame' object has no attribute 'todict'